<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	
    	
    	<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    	<property name="hbm2ddl.auto">update</property>
    	<!-- <property name="hibernate.show_sql">true</property> -->
    	<property name="hibernate.format_sql">true</property>
    	<property name="hibernate.use_sql_comments">true</property>
    	<!-- 注解映射类 -->
    	<mapping class="com.atfuture.domain.EvaluatedStandard"/>
    	<mapping class="com.atfuture.domain.EvaluateRecord"/>
    	<mapping class="com.atfuture.domain.Expart"/>
    	<mapping class="com.atfuture.domain.JobTitle"/>
    	<mapping class="com.atfuture.domain.ParticipatedPerson"/>
    	<mapping class="com.atfuture.domain.Specialty"/>
    	<mapping class="com.atfuture.domain.Statistics"/>
    	<mapping class="com.atfuture.domain.SuperManager"/>
    	
    </session-factory>
</hibernate-configuration>
