@charset "utf-8";
/* CSS Document */
*{
  padding:0;
  margin:0;
}
.row{
  margin-top:20px;
  width:100%;
  
}
.form-control{
  -moz-box-shadow: inset 1px 1px 1px #C4C4C4;
  box-shadow: inset 1px 1px 1px #C4C4C4;
  -webkit-box-shadow:inset 1px 1px 1px #C4C4C4;
  border-radius: 0px;
}
/* .btnSub{
	float:right;
	margin-left:12%;
	border-radius:0px;
	margin-top:20px;
} */
.last .btnSub{
	margin-top:30px;
	width:80%;
}
}